
body {
    margin: 0;
}

form {
  margin: 0;
}

h1, h2, h3, h4, h6 {
  margin: 0;
}

a {
  text-decoration: none;
}

button {
  outline: none;
}

button:focus {
  outline: none;
  opacity: 0.8;
}

.btn-primary {
    border: none;
    border-radius: 3px;
    padding: 5px 10px;
    color: white;
    background-color: #444;
    cursor: pointer;
    outline: none;
}

.btn[disabled] {
    cursor: default;
    background-color: #777;
}

.btn[disabled]:hover {
    text-shadow: none !important;
    box-shadow: none !important;
}

.btn-close {
    color: #888;
    cursor: pointer;
}

.btn-close:hover {
    color: rgb(233, 112, 112);
}

.disabled {
    pointer-events: none !important;
}

.error {
    border-color: rgb(219, 70, 70) !important;
    box-shadow: 0px 5px 5px rgba(255, 0, 0, 0.068);
}

/* ----------- SCROLL BAR ----------- */

@media(min-width: 760px) {

  /* width */
    ::-webkit-scrollbar {
    width: 5px;
  }
  
  /* Track */
    ::-webkit-scrollbar-track {
    background: #f1f1f1;
  }
  
  /* Handle */
    ::-webkit-scrollbar-thumb {
    background: #888;
  }
  
  /* Handle on hover */
    ::-webkit-scrollbar-thumb:hover {
    background: #555;
  }
}