
html {
    font-family: 'Baloo Paaji 2', cursive;
    font-size: 16px;
    overflow: hidden;
}

body {
    display: flex;
    overflow: hidden;
    background-color: #23282d;
    color: #eee;
    white-space: nowrap;
}

/* ------------------ OPTIONS ------------------ */

.options {
    width: 0;
    min-width: 0;
    height: 100%;
    background-image: linear-gradient(#23282d, #1d2731, #23282d);
    font-size: 1.2rem;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.151);
    overflow: hidden;
    transition: min-width 0.4s ease-in-out;
}

.options.show {
    min-width: 300px;
}

.options-item {
    display: flex;
    align-items: center;
    text-decoration: none;
    padding: 10px 20px;
    color: #aaa;
    border-bottom: 1px solid #1c1f24;
    cursor: pointer;
    overflow: hidden;
    white-space: nowrap;
}

.options-item i {
    margin-right: 10px;
    font-size: 0.9rem;
}

.options-item:hover {
    background-color: rgb(79, 185, 218);
    color: #fff;
}

/* ------------------ SITE ------------------ */

.site {
    flex: 1;
    height: 100vh;
    display: flex;
    flex-direction: column;
}

/* ------------------ HEADER ------------------ */

.site .header {
    font-size: 1.2rem;
    padding: 20px;
}

.site .header.disabled {
    pointer-events: none;
}

/* ----------- HEADER TOP ----------- */

.header-top {
    display: flex;
    align-items: center;
    margin-bottom:  10px;
}

.logo {
    flex: 1;
    display: flex;
    align-items: center;
}

.btn-options {
    margin-right: 20px;
    font-size: 1.3rem;
    color: #eee;
    cursor: pointer;
}

.btn-options:hover {
    color: rgb(79, 185, 218);
}

.logo-name {
    display: flex;
    align-items: center;
    opacity: 1;
    transition: opacity 0.5s ease-in-out;
    cursor: default;
}

.logo-name .left,
.logo-name .right {
    font-family: 'Merriweather', serif;
    margin: 0;
    font-weight: normal;
    text-transform: uppercase;
    outline: none;
    color: #eee;
    text-decoration: none;
    font-size: 1.5rem;
}

.logo-name .right {
    border-bottom: 2px solid #ddd;
    border-radius: 5px;
    margin: 0 10px;
}

.search-bar {
    background-color: #191e23;
    color: #b4b9be;
}

.search-bar input {
    background-color: transparent;
    border: none;
    color: #b4b9be;
    font-size: 12px;
    outline: none;
    font-size: 0.9rem;
    padding: 5px 10px;
}

.search-bar i {
    font-size: 0.9rem;
    margin-right: 10px;
}

/* ------------- HEADER BOTTOM ------------- */

.header-bottom {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.header-bottom .menus {
    flex: 1;
    display: flex;
    align-items: center;
    font-size: 1rem;
    cursor: default;
}

.menus input {
    color: transparent;
    max-width: 90px;
    margin: 0 10px;
    margin-right: 40px;
    outline: none;
}

.menus i {
    cursor: pointer;
    color: #eee;
    font-size: 1.2rem;
}

.menus i:hover {
    text-shadow: 0 0 5px rgba(255, 255, 255, 0.596);
}

.menu-item {
    margin-right: 20px;
}

.menu-item span {
    cursor: pointer;
}

.menu-item span:hover {
    color: rgb(79, 185, 218);
}

.import-field {
    display: flex;
    align-items: center;
    cursor: default;
}

.import-field [name="backupFile"] {
    max-width: 115px;
    margin: 0;
    cursor: pointer;
    margin-left: 20px;
    margin-right: 40px;
}

.import-field i {
    cursor: pointer;
}

.import-field i:hover {
    cursor: pointer;
    color: rgb(79, 185, 218);
}

/* ------------------ CONTENT ------------------ */

.content {
    flex: 1;
    display: flex;
    background-color: rgb(255, 255, 255);
    overflow: hidden;
}

/* ------------- CONTENT LEFT ------------- */

.content-left {
    flex: 1;
    color: #444;
    overflow-x: auto;
}

.empty-msg {
    font-size: 1.7rem;
    text-align: center;
    width: 100%;
    white-space: pre-wrap;
}

.project-item {
    display: flex;
    position: relative;
    flex-direction: column;
    border-bottom: 1px solid #bbb;
    padding: 10px 0;
    cursor: pointer;
}

.project-item.active {
    background-color: #f9f9f9;
}

.project-item:hover {
    background-color: #f9f9f9;
}

.project-item .arrow {
    position: absolute;
    right: 10px;
    top: 40%;
    font-size: 1.1rem;
}

.project-item-top {
    display: flex;
    justify-content: space-between;
    padding: 0px 20px;
    padding-right: 40px;
    font-size: 1.2rem;
    color: #555;
    font-weight: bold;
}

.project-item-top .project-name {
    max-width: 90%;
    overflow: hidden;
    text-overflow: ellipsis;
}

.project-item-bottom {
    display: flex;
    justify-content: space-between;
    padding: 0px 20px;
    padding-right: 40px;
}

.project-item-bottom .time {
    font-size: 1.2rem;
}

/* ------------ CONTENT RIGHT -------------- */

.content-right {
    width: 0;
    color: #444;
    border-left: 1px solid #bbb;
    overflow: hidden;
    transition: width 0.4s ease-in;
    background-color: white;
    display: flex;
    flex-direction: column;
    cursor: default; 
}

.content.show .content-right {
    width: 400px;
}

.content-right .project-name {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 20px;
}

.project-name-left {
    display: flex;
    align-items: center;
    cursor: pointer;
}

.project-name-left i {
    margin-right: 10px;
    font-size: 1.2rem;
}

.project-description {
    transition: max-height 0.25s ease-in;
    font-size: 1.3rem;
    margin: 0;
    padding: 0 20px;
    color: #666;
    white-space: pre-wrap;
    cursor: default;
    max-height: 1000px;
    word-break: break-all;
}

.project-description.hidden {
    transition: max-height 0.4s ease-out;
    max-height: 0px;
    overflow: hidden;   
}

.timer {
    padding-top: 10px;
}

.timer .btn {
    margin-right: 20px;
    border-radius: 3px;
}

.timer .btn:hover {
    text-shadow: 0 0 5px rgba(255, 255, 255, 0.459);
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.425);
}

.timer .btn i {
    margin-right: 10px;
}

.timer-functions,
.timer-register {
    padding: 5px 20px;
}

.timer-register span {
    font-size: 1.2rem;
}

.timer-register .duration {
    display: flex;
    align-items: center;
    justify-content: space-between;
    font-size: 1.1rem;
}

.timer-register .duration span{
    font-size: 1.3rem;
    font-weight: bold;
}

.timer-register .price {
    font-size: 1.4rem;
    color: rgb(222, 91, 91);
}

.tasks-list {
    flex: 1;
    overflow-x: auto;
}

.tasks-list h3 {
    padding: 10px 20px;
    border-bottom: 1px solid #bbb;
}

.task-item {
    display: flex;
    flex-direction: column;
    border-bottom: 1px solid #bbb;
    padding: 10px 30px;
}

.task-time {
    font-size: 1.1rem;
}

/* ------------------ MODAL ------------------ */

.background-modal {
    display: flex;
    justify-content: center;
    align-items: flex-start;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.301); 
    opacity: 0;
    pointer-events: none;
    transition: opacity 0.4s ease-out;
}

.background-modal.show {
    opacity: 1;
    pointer-events: inherit;
}

.modal {
    color: #444;
    margin-top: 100px;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.205);
    border-radius: 3px;
    overflow: hidden;
    min-width: 300px;
}

.modal-header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: #23282d;
    color: white;
    padding: 0 20px;
}

.modal-header h2 {
    margin: 0;
    font-weight: normal;
}

.modal-body {
    padding: 10px 20px;
    background-color: white;
}

.modal-body .row {
    padding: 5px 0;
}

.modal-body .row label {
    font-size: 1.1rem;
    display: block;
}

.modal-body input,
.modal-body textarea {
    border: 0;
    border-bottom: 1px solid #bbb;
    outline: none;
    font-size: 1rem;
    color: #444;
    padding: 5px 10px;
    width: 100%;
} 

.modal-body textarea {
    font-size: 1.2rem;
}

.modal-body .btn {
    margin-top: 5px;
    font-size: 1rem;
    padding: 10px 20px;
}

.modal-body .btn:hover {
    text-shadow: 0 0 5px rgba(255, 255, 255, 0.459);
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.425);
}

/* ------------------ MOBILE ------------------ */

@media(max-width: 760px) {

    .header-top {
        justify-content: center;
    }

    .header-top .logo-name {
        display: none;
    }

    .header-top .btn-options {
        display: inline-block;
    }

   .header-top .search-bar {
       display: flex;
       align-items: center;
       justify-content: space-between;
       width: 100%;
    }

   .header-top .search-bar input {
       padding: 10px;
    }

   .header-bottom .import-field span {
       display: none;
    }

   .content {
       position: relative;
    }

   .content.show .content-right {
        left: 0;
        width: 100%;
    }

   .content-left {
        width: 100%;
        transition: width 0.4s ease-in;
    }

   .content-right {
        position: absolute;
        left: 100%;
        overflow: hidden;
        white-space: nowrap;
        transition: left 0.4s ease-in;
        background-color: white;
        height: 100%;
        width: 100%;
    }
}
